.site-title{
    font-family: changa;
    color: #fff;
}
.site-title:hover{
    background-image: none;
}
.site-button{
    color: #fff;
}
.site-button:hover{
    background-image: none;
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active{
    background-image: none;
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active::before{
    font-family: FontAwesome;
    content: "\f0da\00a0";
    color: #fff;
}
.js-toggle-dark-mode{
    position: relative;
    background-color: transparent;
    box-shadow: none;
    height: 30px;
    top: 25%;
    right: 0;
    margin-right: 10px;
}
.dark-accent{
    background-color: #303030 !important;
}
.light-accent{
    background-color: #e5e5e5 !important;
}
.site-footer{
    display: none;
}

/* Responsiveness Classes */
@media only screen and (max-width: 600px) {
    .side-bar + .main .main-header.nav-open {
        display: block;
        position: fixed;
        top: 40px;
        width: 100%;
    }
    .js-toggle-dark-mode{
        position: fixed;
        top: 0;
        right: 50px;
        top: 10px;
    }
    .search-results{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .search-overlay{
        display: none;
    }
}