.site-title{
    font-family: changa !important;
    color: #fff !important;
}
.site-title:hover{
    background-image: none !important;
}
.site-title::before {
    content: "\00a0";
    border-radius: 4px;
    width: 30px;
    height: 35px;
    margin-right: 5px;
    background-image: url("/static/images/brand.png");
}
.site-button{
    color: #fff !important;
}
.site-button:hover{
    background-image: none !important;
}
.nav-list .nav-list-item .nav-list-link{
    color: #fff !important;
}
.nav-list .nav-list-item button{
    background-image: none !important;
    background-color: transparent !important;
    color: aqua;
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active{
    background-image: none !important;
}
.nav-list .nav-list-item .nav-list-link:hover{
    opacity: 0.8 !important;
}
.nav-list .nav-list-item .nav-list-link.active::before{
    font-family: FontAwesome !important;
    content: "\f0da\00a0" !important;
    color: #fff !important;
}
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link{
    color: #e5e5e5 !important;
}
.js-toggle-dark-mode{
    position: relative !important;
    background-color: transparent !important;
    box-shadow: none !important;
    height: 30px !important;
    top: 25% !important;
    right: 0 !important;
    margin-right: 10px !important;
}
.dark-accent{
    background-color: #303030 !important;
}
.light-accent{
    background-color: #e5e5e5 !important;
}
.site-footer{
    display: none !important;
}

/* Responsiveness Classes */
@media (min-width: 66.5rem) {
    body{
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .side-bar {
        width: 15.5rem !important;
        align-items: normal !important;
    }
    .side-bar + .main {
        margin-left: 15.5rem !important;
    }
}
@media (min-width: 50rem) {
    .main {
        position: relative !important;
        max-width: 70rem !important;
    }
    .main-content-wrap{
        margin-left: 20px !important; 
    }
    .side-bar + .main .main-header{
        margin-left: 20px !important;
    }
    .search-active .search-input-wrap{
        width: 100% !important;
    }
    .search-input-wrap{
        max-width: unset !important;
    }
    .search-results{
        width: 100% !important;
    }
}
@media (min-width: 40rem) {
    body{
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-width: 800px) {
    .search-active .search{
        position: fixed !important;
        width: 100% !important;
        height: 50px !important;
    }
}
@media only screen and (max-width: 600px) {
    .side-bar + .main .main-header.nav-open {
        display: block !important;
        position: fixed !important;
        top: 40px !important;
        width: 100% !important;
    }
    .js-toggle-dark-mode{
        position: fixed !important;
        top: 0 !important;
        right: 50px !important;
        top: 10px !important;
    }
    .search-results{
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .search-overlay{
        display: none !important;
    }
}