.js-toggle-dark-mode{
    position: relative;
    background-color: transparent;
    box-shadow: none;
    height: 30px;
    top: 25%;
}
.dark-accent{
    background-color: #303030 !important;
}
.light-accent{
    background-color: #e5e5e5 !important;
}