<button id="theme-toggle" class="btn js-toggle-dark-mode light-accent"><i id="theme-icon" class="fa fa-sun-o" aria-hidden="true"></i> Light</button>

<script>
const toggleDarkMode = document.getElementById("theme-toggle");
const toggleIcon = document.getElementById("theme-icon");
if(localStorage.getItem('theme') === 'dark'){
    jtd.setTheme('dark_custom');
    toggleDarkMode.innerHTML = '<i id="theme-icon" class="fa fa-moon-o" aria-hidden="true"></i> Dark';
    toggleDarkMode.classList.add("dark-accent");
    toggleDarkMode.classList.remove("light-accent"); 
} else {
    jtd.setTheme('light_custom');
    toggleDarkMode.innerHTML = '<i id="theme-icon" class="fa fa-sun-o" aria-hidden="true"></i> Light';
    toggleDarkMode.classList.add("light-accent");
    toggleDarkMode.classList.remove("dark-accent");
}
jtd.addEvent(toggleDarkMode, 'click', function(){
  if (jtd.getTheme() === 'dark_custom') {
    jtd.setTheme('light_custom');
    toggleDarkMode.innerHTML = '<i id="theme-icon" class="fa fa-sun-o" aria-hidden="true"></i> Light';
    toggleDarkMode.classList.add("light-accent");
    toggleDarkMode.classList.remove("dark-accent");
    localStorage.setItem('theme', 'light');
  } else {
    jtd.setTheme('dark_custom');
    toggleDarkMode.innerHTML = '<i id="theme-icon" class="fa fa-moon-o" aria-hidden="true"></i> Dark';
    toggleDarkMode.classList.add("dark-accent");
    toggleDarkMode.classList.remove("light-accent");
    localStorage.setItem('theme', 'dark');
  }
});
</script>